@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-width: 320px;
}

:root {
  --b: 'Bold';
  --rg: 'Regular';
}

h1, h2, h3, h4, h5, h6, a, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.col-none { padding: 0; }

/* Smooth scrolling */
html { scroll-behavior: smooth; }

#header_1, #about_1, #works_1, #proces_1, #speach_1, #form_1, #footer__page_1 {
  scroll-margin-top: 100px;
}

/* Header */
.header{
    background: url(../img/Саня/10й\ образец.jpg) no-repeat center/cover;
    height: 1250px;
    width: 100%;
    padding-top: 50px;
    position: relative;
}

.heaader404{
    background: url(../img/Саня/11й\ образец.jpg) no-repeat center/cover;
    height: 1250px;
    width: 100%;
    padding-top: 50px;
    position: relative;
}

.heaader{
    background: url(../img/Саня/10й\ образец.jpg) no-repeat center/cover;
    height: 1250px;
    width: 100%;
    padding-top: 50px;
    position: relative;
}

.header__menu{
    position: absolute;
    top: 50px;
    width: 100%;
}


.header__menu .navbar{
    /* border-bottom: 1px solid #000000;
    border-top: 1px solid #000000; */
    position: fixed;
    top: 1;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10%;
    padding-top: 0%;
}


.header__menu-logo{
    font-size: 18px;
    color: #000000 !important;
    font-family: var(--b);
    text-transform: uppercase;
}

.header__nav-link{
    font-size: 14px;
    color: #000000 !important;
    text-transform: uppercase;
    font-family: var(--b);
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header__nav-link::after{
    content: '';
    width: 19px;
    height: 1px;
    background: #f33c7a;
    display: flex;
    margin-top: 13px;
    transform: scale(0);
    transition: 0.5s;
}
.header__nav-link:hover::after{
    transform: scale(1)
}


.header__menu-button{
    font-size: 30px;
    color: #000000;
}

.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}



.header__text-title{
    font-size: 80px;
    color: #000000 ;
    text-transform: uppercase;
    font-family: var(--rg);
    display: flex;
    flex-direction: column;
}

.header__text-span{
    font-size: 70px;
    color: #000000;
    font-family: var(--b);
    
}

.header__text-agency{
    font-family: var(--b);
    color: #f33c7a;
}

.header__text-ds{
    font-size: 18px;
    color: #000000;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}

.header__text-link{
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    font-family: var(--b);
    padding: 20px 32px;
    background: #f33c7a;
    display: block;
    margin-top: 59px;
}

.header__text-link:hover{
    color: #ffffff;
    background: #000000;
}

.header__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15%;
    
}

/* Navbar hide/show */
#hideMe {
  transition: opacity 0.3s ease;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

/* About */

.about{
    background: #ffffff;
    padding: 150px 0;
}

.about__text-title{
    font-size: 35px;
    color: #000000;
    font-family: var(--rg);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-top: 125%;
}

.about__text-ds{
    font-size: 16px;
    color: #000000;
    font-family: var(--rg);
    margin-top: 53px;
}


.about__title{
    font-size: 38px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
   
        
}

.about__img{
    padding-top: 20%;
    width: 100%;
}

/* Works */
.skills__text{
    max-width: 346px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.skills__text-title{
    font-size: 38px;
    color: #000000;
    font-family: var(--b);
    text-transform: uppercase;
}

    .works{
        padding-top: 100px;
        padding-bottom: 300px;
        padding-left: 10%;
        padding-right: 10%;
        background: #ffffff;
    }

    .container{
        
        padding-bottom: 100px ;
    }
    
    .works__block{
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    
    .works__block-img{
        width: 100%;
        transform: scale(1);
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }
    
    .works__block:hover .works__block-img{
        transform: scale(1.2);
    }
    
    .works__text{
        margin-bottom: 130px;
    }
    
    .works__block-icon{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.356);
        font-size: 57px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.5s;
    }
    
    .works__block-icon:hover{
        opacity: 1;
        color: rgba(136, 136, 136, 0.561);
    }
    
    .works__button{
        font-size: 19px;
        color: #000000;
        text-transform: uppercase;
        width: 230px;
        padding: 22px 0;
        background: transparent;
        border: 1px solid #8d8d8d;
        border-radius: 8px;
        margin: 70px auto 0 auto; 
        transition: 0.5s;
    }
    
    .works__button:hover{
        box-shadow: 0 0 15px 5px #a0a0a0;
    }

/* Modal */
#imageModal.image-modal { 
  display: none; 
  position: fixed; 
  inset: 0; 
  background: rgba(0,0,0,0.95); 
  z-index: 9999; 
  justify-content: center; 
  align-items: center; 
}
#imageModal img { max-width: 90%; max-height: 90%; object-fit: contain; }
.modal-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Form */

 
    .form{
        background: url(../img/Саня/11й\ образец.jpg) no-repeat center / cover;
        padding: 15px 0; 
        background-attachment: fixed;
    }
    
    .form__input,.form__textarea{
        width: 100%;
        background: #ffffff;
        border: 1px solid #000000;
        padding: 20px;
        font-size: 15px;
        color: #000000;
        margin-top: 35px;
    }
    
    .form__button{
        /* font-size: 18px;
        width: 180px;
        color: #ffffff;
        padding: 20px 0px;
        text-transform: uppercase;
        font-weight: 700;
        background: #f33c7a;
        border: none;
        margin: 30px auto 0 auto; */
        width: 200px;
        font-size: 18px;
        color: #000000;
        text-transform: uppercase;
        font-family: var(--b);
        padding: 20px 32px;
        background: #f33c7a;
        display: block;
        margin: 30px auto 0 auto;
    }

    .form__button:hover{
    color: #ffffff;
    background: #000000;
    
    }

    .proces__text{
        max-width: 470px;
        width: 100%;
        margin: 70px auto 0px auto;
        text-align: center;
    }
    
    .proces__text-title{
        padding-top: 50%;
        padding-bottom: 50%;
        font-size: 38px;
        color: #000000;
        font-family: var(--b);
        text-transform: uppercase;
    }

/* Footer */
.footer__page{
        background: #f33c7a;
    }
    
    .footer__page-ul{
        display: flex;
    }
    .footer__page-li{
        padding: 70px 15px;
    }
    .footer__page-li p{
        color: #e3d5ff;
        font-size: 16px;
    }
    
    .footer__page-ul2{
        display: flex;
        /* justify-content: flex-end; */
        justify-content: center;
    }
    .footer__page-li2{
        padding: 70px 15px;
    }
    .footer__page-li2 i{
        color: #e3d5ff;
        font-size: 25px;
    }
    
    .footer__page-img{
        padding-top:70px; 
    }
    .lifecontact{
        margin-bottom: 130px;
        margin-top: 100px;
    }

/* Responsive */
@media (max-width: 1400px){
   
        .footer__page-ul{
            justify-content: center;
        }
        .footer__page-li p{
         font-size: 10px;
        }
        
        .footer__page-ul2{
           justify-content: center; 
        }
        
        .footer__page-li2 i{
            font-size: 15px;
        }
    }

@media (max-width:1200px){
    .header__text-ds{
        font-size: 15px;
    }
        .about__text-title{
            margin-top: 100px;
        }
     }
     @media (max-width:1200px){
         .imgcol{
             display: flex !important;
             justify-content: center !important;
             padding: 20px 0;
         }
         .header{
    background: url(../img/Саня/10й\ образец.jpg) no-repeat center/cover;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    position: relative;

    }
     }

@media (max-width: 991px) {

    .header__text-ds{
        font-size: 10px;
    }
    .header__menu-nav{
        background: #ffffff;
        border-radius: 5px;
        padding: 25px;
        }
        
        .about__text-title{
            margin-top: 20% ;
        }
        .heaader{
            height: 600px;
        }
        .footer__page-img3{
            display: flex;
            justify-content: center; 
        }
        .header{
    background: url(../img/Саня/10й\ образец.jpg) no-repeat center/cover;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    position: relative;

    }
}

@media (max-width: 767px){
    .header__text-title{
        font-size: 40px;
    }
    
    .header__text-span{
        font-size: 30px;
    }
    
    .header__text-ds{
        font-size: 15px;
        margin-top: 11px;
    }

    .header__text-link{
        font-size: 15px;
        padding: 15px 25px;
        margin-top: 30px;
    }
    .about__text-title{
        text-align: center;
        font-size: 30px;
    }
   .about__text-ds{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    

    .header__menu-logo{
    font-size: 70%;
   }
   .header__text-title{
    font-size: 100%;
   }
   .header__text-span{
    font-size: 70%;
   }

   .header__text-ds{
    font-size: 50%;
   }

   .header__text-link{
    font-size: 50%;
   }

   .header{
    background: url(../img/Саня/10й\ образец.jpg) no-repeat center/cover;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    position: relative;

    }

    .header__text {
        padding-left: 10%;
    }

}

@media (max-width: 575px){

    .header__text-ds{
        font-size: 5px;
    }
    .about__text-title{
        text-align: center;
        font-size: 30px;
    }
    
    .about__text-ds{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .about{
        padding: 50px 0;
    }
    .proces__centre{
        text-align: center;
    }
    
    .proces__ds{
        margin: 25px auto 0 auto;
    } 
    .skills__title{
        width: 130px;
        height: 130px;
    }
    .skills__title::after{
        width: 130px;
        height: 130px;
    }
}
@media (max-width: 501px){
    .aboutphoto__title{
        font-size: 100px;
    }
    .page__header-h1{
        font-size: 40px;
    }
}

@media (max-width: 426px){
   .header__menu-logo{
    font-size: 70%;
   }
   .header__text-title{
    font-size: 100%;
   }
   .header__text-span{
    font-size: 70%;
   }

   .header__text-ds{
        font-size: 5px;
    }

   .header__text-link{
    font-size: 50%;
   }

   .header{
    background: url(../img/Саня/10й\ образец.jpg) no-repeat center/cover;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    position: relative;

    }
    .form{
        background: url(../img/Саня/11й\ образец.jpg) no-repeat center / cover;
        height: 500px;
        width: 100%;
        position: relative;
        background-attachment: local;
    }
    .proces__text-title{
        font-size: 80%;
        padding-top: 20%;
        padding-bottom: 20%;

    }
    .form__button{
        width: 200px;
        font-size: 18px;
        color: #000000;
        text-transform: uppercase;
        font-family: var(--b);
        padding: 20px 32px;
        background: #f33c7a;
        display: block;
        margin: 30px auto 30px auto; 
    }
}
